<form>
    <div class="form-group">
      <label for="name">Book name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="name">Publishing Year</label>
      <input type="text" class="form-control" id="year" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="name">Avability</label>
        <input type="text" class="form-control" id="avability" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>