<br>
<br>
<h1 style="text-align: center;">Update Book</h1>
<form style="text-align: center;">
    <div class="form-group">
      <label for="name">Book name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="givenBook.name">
    </div>
    <div class="form-group">
      <label for="name">Publishing Year</label>
      <input type="text" class="form-control" id="year" [(ngModel)]="givenBook.year">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-control-check" id="avability" [(ngModel)]="givenBook.availability" >
        <label for="name">Available</label>
    </div>
    <button type="submit" (click)="saveToBookList()" class="btn btn-success">Save</button>



  </form>