<h2>Book list</h2>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Serial No</th>
        <th scope="col">Book Name</th>
        <th scope="col">Publish Year</th>
        <th scope="col">Avability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Teach Yourself C</td>
        <td>2006</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Software Engineering</td>
        <td>2009</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Computer and Internet Security</td>
        <td>2002</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Database Management System</td>
        <td>1996</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Artificial Intelligence</td>
        <td>2010</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Java Programming</td>
        <td>2012</td>
        <td>Yes</td>
      </tr>

    </tbody>
  </table>
