<h2>Book list</h2>


<table class="table" >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Publish Year</th>
        <th scope="col">Avability</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>Teach Yourself C</td>
        <td>2006</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Software Engineering</td>
        <td>2009</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Computer and Internet Security</td>
        <td>2002</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Database Management System</td>
        <td>1996</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Artificial Intelligence</td>
        <td>2010</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>Software Security</td>
        <td>2017</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>Head First Java Programming</td>
        <td>2011</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>Refactoring Code Smells</td>
        <td>2005</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>Business Communications</td>
        <td>2012</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">10</th>
        <td>Computer Organizations</td>
        <td>2018</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">11</th>
        <td>Operating System and System Programming</td>
        <td>2012</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">12</th>
        <td>Software Design</td>
        <td>2007</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">13</th>
        <td>Python Porgramming</td>
        <td>2010</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">14</th>
        <td>Object Oriented Concepts</td>
        <td>2011</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">15</th>
        <td>Data Communications and Networking</td>
        <td>2001</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">16</th>
        <td>Introduction to Automata Theory</td>
        <td>2003</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">17</th>
        <td>Mordern Operating Systems</td>
        <td>2006</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">18</th>
        <td>Industial and Organizations Psychology</td>
        <td>2005</td>
        <td>Yes</td>
      </tr>

      <tr>
        <th scope="row">19</th>
        <td>Teach Yourself Web Technology</td>
        <td>2017</td>
        <td>No</td>
      </tr>

      <tr>
        <th scope="row">20</th>
        <td>Software Metrics</td>
        <td>2020</td>
        <td>Yes</td>
      </tr>

    

      
    </tbody>
  </table>
