<nav class="navbar navbar-expand-lg navbar-light bg-light">
      
    <div>
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/demo-project/src/app/book-list/book-list.component.html">Book List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">View Books</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">View Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        
        
      </ul>
     <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>--> 
    </div>
  </nav>